<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span style="font-weight: bold">Service Status :</span> 
  <ul class="navbar-nav mr-auto">   
    <li class="nav-item center" id="webadmin">
      <span class="system-online"><img src="/images/online.png" class="status" />Web Admin</span>
    </li>    
    <li class="nav-item center" id="sba">
      <span class="system-online"><img src="/images/online.png" class="status" />SBA</span>
    </li>
    <li class="nav-item center" id="bsb">
      <span class="system-online"><img src="/images/online.png" class="status" />BSB</span>
    </li>
    <li class="nav-item center" id="dst">
      <span class="system-online"><img src="/images/online.png" class="status" />DST</span>
    </li>
    <li class="nav-item center" id="brokeradmin">
      <span class="system-online"><img src="/images/online.png" class="status" />Broker Admin</span>
    </li>  
    <li class="nav-item center" id="intranet">
      <span class="system-online"><img src="/images/online.png" class="status" />Intranet Web</span>
    </li>  
    <li class="nav-item center" id="linenoti">
      <span class="system-online"><img src="/images/online.png" class="status" />Line Notify</span>
    </li>  
  </ul>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">   
    <li class="nav-item center">
      <a class="nav-link" href="#"><span class="filter-button" title="S">Success</span></a>
    </li>
    <li class="nav-item center">
      <a class="nav-link" href="#"><span class="filter-button" title="P">Process</span></a>
    </li>
    <li class="nav-item center">
      <a class="nav-link" href="#"><span class="filter-button" title="C">Pending</span></a>
    </li>
    <li class="nav-item center">
      <a class="nav-link" href="#"><span class="filter-button" title="E">Error</span></a>
    </li>
    <li class="nav-item center">
      <a class="nav-link" href="#"><span class="filter-button" title="W">Warning</span></a>
    </li>
    <li class="nav-item center">
      <a class="nav-link" href="/"><span class="filter-button" title="R">Refresh in <i id="timer"></i> s</span></a>
    </li>
  </ul>
</nav>